
<link href="~/Content/homeStyle.css" rel="stylesheet" />
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Technology Review</h1>
    <p class="lead">Review the latest technology. Read more about the products and more!</p>
    <p><a class="btn btn-primary btn-lg purple-gradient frontbtn" href="~/Categories/Create"> Push to begin &raquo;</a></p>

</div>

